body {
    display: flex;
    justify-content: center;
    background: #7E8D85;
    line-height: 1.4;
}

.container {
    margin-top: 20px;
    width: 300px;
    padding: 10px 40px 40px;
    background: #2F242C;
    border-radius: 5px;
    color: #B3BFB8;
}

.lighten {
    color: rgb(190, 212, 199);
}

.currency {
    font-weight: bold;
    color: #7E8D85;
}

h1 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
}